/* Assignment Q1: nav bar */
.nav-bar {
    width: 900px;
    height: 50px;
    background-color: pink;
    border: 2px solid cadetblue;
    display: flex;
    border-radius: 10px;
}

.nav-bar div {
    width: 80px;
    height: 50px;
    font-size: 24px;
    align-content: center;
}


/* Assignment Q2: flexbox */
.flexible {
    border: 3px solid cadetblue;
    border-radius: 15px;
    width: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexible div {
    background-color: grey;
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
}