div {
    animation-name: identifier1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
    /* Starts from End state & goes to Initail state & again End state and so on.. */
}

@keyframes identifier1 {
    from {font-size: 10px;}     /* Initial state */
    to {font-size: 20px;}       /* Final state */
}

@keyframes colorChange {
    0% {background-color: blue;}
    25% {background-color: green;}
    50% {background-color: yellow;}
    100% {background-color: red;}
}